---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}{{ '/feed.xml' | url }}" rel="self" />
  <link href="{{ site.url }}{{ '/' | url }}" />
  <id>{{ site.url }}{{ '/' | url }}</id>
  {%- if collections.posts | length %}
  <updated>{{ collections.posts[0].date | isoDate }}</updated>
  {%- endif %}
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  {%- for post in collections.posts %}
  {%- set postUrl = site.url + (post.url | url) %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ postUrl }}" />
    <updated>{{ post.date | isoDate }}</updated>
    <id>{{ postUrl }}</id>
    {%- if post.data.description %}
    <summary>{{ post.data.description }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
